@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.slide {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.logo {
    height: 75px;
    width: 200px;
}

h1 {
    text-shadow: 3px 3px rgb(235, 203, 160);
    text-align: center;
}

.ensemble-fleche {
    width: 80%;

    display: flex;
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

#header {
    background-color: rgb(240, 240, 240);
}

.b1 {
    height: 75px;
    width: 200px;
    border: none;
    display: inline-block;
    transition-duration: 0.6s;
}

.b1:hover {
    background-color: rgb(232, 216, 194);
}

#matiere {
    height: 300px;
    width: 250px;
    transition-duration: 250ms;
    margin: 5px;
    z-index: 1;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

#matiere img {
    border-top-right-radius: 8px;
}

#matiere:hover {
    background-color: rgb(149, 138, 138);
}

#texte {
    text-align: center;
}

.background {
    background-color: rgb(229, 226, 224);
}

.img-svg2 {
    width: 5%;
    margin-left: 2%;
    cursor: pointer;
}

.img-svg1 {
    width: 5%;
    margin-right: 2%;
    cursor: pointer;
}