@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    font-family: 'Varela Round', sans-serif;
}

html {
    background-color: rgb(229, 226, 224);
}

.logo {
    height: 75px;
    width: 200px;
}


#wrapper {
    background-color: rgb(229, 226, 224);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    background-color: rgb(229, 226, 224);
    text-shadow: 3px 3px rgb(235, 203, 160);
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    text-decoration: underline;
    font-family: 'Varela Round', sans-serif;
}

li:hover {
    text-shadow: 1px 1px rgb(235, 203, 160);
}

.col-lg-4 {
    background-color: rgb(229, 226, 224);
    margin-top: 40px;
    margin-left: 40px;
    height: 60%;
    border: solid black 2px;
    background-color: rgb(240, 240, 240);
}

.content_col_1 {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.content_col_2 {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}


#logo_ece {
    height: 55%;
    width: 60%;
}