@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


html {
    background-color: rgb(229, 226, 224);
}

body{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    text-shadow: 3px 3px rgb(235, 203, 160);
    text-align: center;
}

.logo {
    height: 75px;
    width: 200px;
}

#header {
    background-color: rgb(240, 240, 240);
}

#wrapper {
    background-color: rgb(229, 226, 224);
}


.b1 {
    height: 75px;
    width: 200px;
    border: none;
    display: inline-block;
    transition-duration: 0.6s;
}

.b1:hover {
    background-color: rgb(232, 216, 194);
}

#navigation {
    background-color: rgb(229, 226, 224);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 550px;
    overflow: scroll;
    scroll-behavior: smooth;
    width: auto;
}


#emplacement_filtres {
    display: flex;
    justify-content: end;
}

.img_plus{
    height: 30px;
    width: 30px;
}

.ajouter {
    background-color: rgb(126, 222, 156);
    height: 50px;
    width: 250px;
    font-size: large;
    margin-right: 40px;
    border-radius: 8px;
}


.ajouter:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.text_ajouter{
    margin-left: 15px;
}

.maPopup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.contenu_popup {
    background-color: rgb(229, 226, 224);
    width: 650px;
    height: 260px;
    margin: 100px auto;
    padding: 20px;
}

#valider {
    background-color: rgb(126, 222, 156);
    margin-right: 40px;
    border-radius: 8px;
}


#valider:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}


.fermer {
    padding-right: 5px;
    float: right;
    cursor: pointer;
}

.matiere {
    display: flex;
    flex-wrap: wrap;
    width: 1410px;
    justify-content: column;
}

.matieres {
    font-size: large;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

h4{
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}

.titreMatieres {
    height: 27px;
    width: 170px;
}

.titreMatieres:hover {
    text-shadow: 3px 3px rgb(234, 210, 177);
}

li{
    margin-top: 30px;
}