html{
    background-color:  rgb(229, 226, 224);
}

h1 {
    text-shadow: 3px 3px rgb(235, 203, 160);
    text-align: center;
}

.logo{
    height: 75px;
    width: 200px;
}

#header {
    background-color: rgb(240, 240, 240);
}

#wrapper{
    background-color:  rgb(229, 226, 224);
}


.b1 {
    height: 75px;
    width: 200px;
    border: none;
    display: inline-block;
    transition-duration: 0.6s;
}

.b1:hover {
    background-color: rgb(232, 216, 194);
}

#navigation{
    background-color: rgb(240, 240, 240);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 550px;
    overflow: scroll;
    scroll-behavior: smooth;
    width: auto;
    border: solid black 2px;

}


#emplacement_filtres{
    display: flex;
    justify-content: end;
}

.filtres{
    background-color: rgb(173, 216, 230);
    margin-right: 40px;
    border-radius: 8px;
}

.filtres:hover{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.ajouter{
    background-color: rgb(126, 222, 156);
    margin-right: 40px;
    border-radius: 8px;
}


.ajouter:hover{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}


#titreOnglet{
    font-size: x-large;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}

.texteOnglet1{
    color: black;
    height: 31px;
    text-decoration: none;
    background: linear-gradient(to top,black 5%, black 8%, transparent 8.01%) no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.7s;
    margin-left: 10px;
}

.texteOnglet1:hover{
    color: black;
    background-size: 100% 100%;
}

.texteOnglet2{
    text-decoration-line: underline;
}

.texteOnglet3{
    color: black;
    text-decoration: none;
    height: 31px;
    background: linear-gradient(to top,black 0%, black 8%, transparent 8.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.7s;
}

.texteOnglet3:hover{
    color: black;
    background-size: 100% 100%;
}

.matiere{
    display: flex;
    flex-wrap: wrap;
    width: 1410px;
    justify-content: space-between;
}

.matieres{
    font-size: large;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.titreMatieres{
    height: 27px;
    width: 170px;
}

.titreMatieres:hover {
    text-shadow: 3px 3px rgb(234, 210, 177);
}

.ligne{
    display: flex;
    justify-content: space-between;
}