
/* Styles pour la toolbar */

.logo {
    height: 75px;
    width: 200px;
}

.toolbar-logout {
    width: 120px;
    height: 75px;
    position: absolute;
    right: 60px;
}

.toolbar {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
}

.toolbar-btn {
    height: 75px;
    width: 200px;
    border: none;
    display: inline-block;
    transition-duration: 0.6s;
    font-weight: bold;
}

.toolbar-btn:hover {
    background-color: rgb(232, 216, 194);
}