
/*carré bibliothèque*/

#carre1{
    margin-left: 10%;
    margin-top:8%;
    float:left;
    height: 450px;
    width: 500px;
    border-radius: 6px;
    
    position: relative;
    
    /* margin-left: auto;
    margin-right: auto; */
}
/*carré formulaire*/
#carre2{
    
    margin-top:8%;
    float:left;
    height:450px;
    width: 500px;
    border-radius: 6px;
    border: 1px solid white;
    background: white;

}
.container {
    position: relative;
}
/*police*/
.p1{
    font-style: oblique;
    font-size: 30px;
}
.p2{
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    line-height: 1.1;

}
/*texte bibliothèque*/
.texte {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  /*button bibliothèque*/
  .button1{
    
    border: 1px solid white;
    border-radius: 4px;
    padding:4px 5px;
    font-size: 13px;
    color: white;
  }
  .button11 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
  }
  
  .button11:hover {
    background-color:black;
    color: white;
  }
  /*button vert*/
  .button2{
    background-color:rgb(103, 224, 103); /* Green */
    border-radius: 4px;
    width: 140%;
    padding: 12px 20px;
    margin-left: 30%;
  }

/*image fond écran*/
.img{
    background-image: url(pageDeConnexion.jpg);
    object-fit: cover;
    
}
/*ajuster le texte formulaire*/
#centre{
  margin-left: 30%;
    
}
/*blocs nom et prenom pour formulaire*/
.inputs{
    width: 40%;
    padding: 12px 20px;
    margin-left: 30%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*reste des blocs*/
.inputs1 {
    width: 140%;
    padding: 12px 20px;
    margin-left: 30%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }





